---
# Role: vault_agent
# Описание: Handlers для Vault Agent
# Файл: roles/vault_agent/handlers/main.yml

- name: reload systemd user
  systemd:
    daemon_reload: yes
    scope: user
  become: yes
  become_user: "{{ monitoring_service_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ lookup('pipe', 'id -u ' + monitoring_service_user) }}"

- name: restart vault-agent
  systemd:
    name: vault-agent-monitoring
    state: restarted
    scope: user
  become: yes
  become_user: "{{ monitoring_service_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ lookup('pipe', 'id -u ' + monitoring_service_user) }}"

