---
# Роль: common
# Описание: Общие задачи для подготовки сервера мониторинга
# Файл: roles/common/tasks/main.yml

- name: "Common | Проверка подключения к серверу"
  ping:
  tags: always

- name: "Common | Сбор фактов о системе"
  setup:
    gather_subset:
      - 'all'
  tags: always

- name: "Common | Проверка наличия необходимых пользователей"
  getent:
    database: passwd
    key: "{{ item }}"
  loop:
    - "{{ monitoring_service_user }}"
    - "{{ monitoring_ci_user }}"
  register: user_check
  failed_when: false
  tags: [check, users]

- name: "Common | Вывод информации о пользователях"
  debug:
    msg: "Пользователь {{ item.item }} {{ 'существует' if not item.failed else 'НЕ существует' }}"
  loop: "{{ user_check.results }}"
  tags: [check, users]

- name: "Common | Создание базовой структуры директорий"
  file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  loop:
    - { path: "{{ monitoring_base_dir }}", owner: "{{ monitoring_ci_user }}", group: "{{ monitoring_group }}", mode: "0755" }
    - { path: "{{ monitoring_dirs.bin }}", owner: "{{ monitoring_ci_user }}", group: "{{ monitoring_group }}", mode: "{{ directory_permissions.bin }}" }
    - { path: "{{ monitoring_dirs.config }}", owner: "{{ monitoring_ci_user }}", group: "{{ monitoring_group }}", mode: "{{ directory_permissions.config }}" }
    - { path: "{{ monitoring_dirs.scripts }}", owner: "{{ monitoring_ci_user }}", group: "{{ monitoring_group }}", mode: "{{ directory_permissions.scripts }}" }
    - { path: "{{ monitoring_dirs.backups }}", owner: "{{ monitoring_ci_user }}", group: "{{ monitoring_group }}", mode: "0755" }
  become: yes
  become_user: root
  tags: [setup, directories]

- name: "Common | Создание директорий для данных и логов (с правильными владельцами)"
  file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  loop:
    - { path: "{{ monitoring_dirs.data }}", owner: "{{ monitoring_service_user }}", group: "{{ monitoring_group }}", mode: "{{ directory_permissions.data }}" }
    - { path: "{{ monitoring_dirs.logs }}", owner: "{{ monitoring_service_user }}", group: "{{ monitoring_group }}", mode: "{{ directory_permissions.logs }}" }
  become: yes
  become_user: root
  tags: [setup, directories]

- name: "Common | Создание поддиректорий для логов"
  file:
    path: "{{ monitoring_dirs.logs }}/{{ item }}"
    state: directory
    owner: "{{ monitoring_service_user }}"
    group: "{{ monitoring_group }}"
    mode: "{{ directory_permissions.logs }}"
  loop:
    - prometheus
    - grafana
    - harvest
  become: yes
  become_user: root
  tags: [setup, directories]

- name: "Common | Создание директории для секретов в /dev/shm"
  file:
    path: "{{ secrets_dir }}"
    state: directory
    owner: "{{ monitoring_service_user }}"
    group: "{{ monitoring_group }}"
    mode: "{{ directory_permissions.secrets }}"
  become: yes
  become_user: root
  tags: [setup, secrets]

- name: "Common | Создание директории для user systemd units"
  file:
    path: "{{ systemd_user_dir }}"
    state: directory
    owner: "{{ monitoring_service_user }}"
    group: "{{ monitoring_group }}"
    mode: "0755"
  become: yes
  become_user: "{{ monitoring_service_user }}"
  tags: [setup, systemd]

- name: "Common | Копирование утилитарных скриптов"
  copy:
    src: "{{ item.src }}"
    dest: "{{ monitoring_dirs.scripts }}/{{ item.dest }}"
    owner: "{{ monitoring_ci_user }}"
    group: "{{ monitoring_group }}"
    mode: "{{ file_permissions.script }}"
  loop:
    - { src: "../../../scripts/manage_secrets.sh", dest: "manage_secrets.sh" }
    - { src: "../../../scripts/cleanup_secrets.sh", dest: "cleanup_secrets.sh" }
    - { src: "../../../scripts/verify_security.sh", dest: "verify_security.sh" }
  become: yes
  become_user: root
  tags: [setup, scripts]

- name: "Common | Создание директории для wrapper скриптов"
  file:
    path: "{{ monitoring_dirs.scripts }}/wrappers"
    state: directory
    owner: root
    group: "{{ monitoring_group }}"
    mode: "0755"
  become: yes
  become_user: root
  tags: [setup, scripts, wrappers]

- name: "Common | Копирование wrapper скриптов с SHA256 защитой"
  copy:
    src: "{{ item.src }}"
    dest: "{{ monitoring_dirs.scripts }}/wrappers/{{ item.dest }}"
    owner: root
    group: "{{ monitoring_group }}"
    mode: "0750"
  loop:
    - { src: "../../../scripts/wrappers/manage_firewall.sh", dest: "manage_firewall.sh" }
    - { src: "../../../scripts/wrappers/manage_vault_certs.sh", dest: "manage_vault_certs.sh" }
    - { src: "../../../scripts/wrappers/call_rlm_api.sh", dest: "call_rlm_api.sh" }
    - { src: "../../../scripts/wrappers/extract_vault_secrets.sh", dest: "extract_vault_secrets.sh" }
  become: yes
  become_user: root
  tags: [setup, scripts, wrappers]

- name: "Common | Копирование утилитарных скриптов (проверка/диагностика)"
  copy:
    src: "../../../scripts/{{ item }}"
    dest: "{{ monitoring_dirs.scripts }}/{{ item }}"
    owner: root
    group: "{{ monitoring_group }}"
    mode: "0755"
  loop:
    - "verify_security.sh"
    # Removed: "check_services.sh" - file does not exist in repository
  become: yes
  become_user: root
  tags: [setup, scripts, utils]

- name: "Common | Включение lingering для monitoring_svc (для user systemd)"
  command: loginctl enable-linger {{ monitoring_service_user }}
  become: yes
  become_user: root
  changed_when: false
  failed_when: false
  tags: [setup, systemd]

- name: "Common | Проверка доступности необходимых команд"
  command: which {{ item }}
  loop:
    - curl
    - jq
    - openssl
    - systemctl
  register: cmd_check
  failed_when: false
  changed_when: false
  tags: [check, dependencies]

- name: "Common | Вывод результатов проверки зависимостей"
  debug:
    msg: "Команда {{ item.item }} {{ 'доступна' if item.rc == 0 else 'НЕ доступна' }}"
  loop: "{{ cmd_check.results }}"
  tags: [check, dependencies]

- name: "Common | Создание backup текущей конфигурации (если существует)"
  archive:
    path: "{{ monitoring_dirs.config }}"
    dest: "{{ monitoring_dirs.backups }}/config_backup_{{ ansible_date_time.iso8601_basic_short }}.tar.gz"
    format: gz
  become: yes
  become_user: "{{ monitoring_ci_user }}"
  when: deployment.backup_before_update | default(false)
  failed_when: false
  tags: [backup]

- name: "Common | Получение информации о системе для логирования"
  debug:
    msg:
      - "Hostname: {{ ansible_hostname }}"
      - "OS: {{ ansible_distribution }} {{ ansible_distribution_version }}"
      - "IP Address: {{ ansible_default_ipv4.address }}"
      - "Monitoring Base Dir: {{ monitoring_base_dir }}"
      - "Service User: {{ monitoring_service_user }}"
  tags: [info]

- name: "Common | Создание символических ссылок на бинарные файлы"
  file:
    src: "{{ item.src }}"
    dest: "{{ monitoring_dirs.bin }}/{{ item.dest }}"
    state: link
    force: yes
  loop:
    - { src: "/usr/sbin/grafana-server", dest: "grafana-server" }
    - { src: "/usr/bin/prometheus", dest: "prometheus" }
    - { src: "/opt/harvest/bin/harvest", dest: "harvest" }
  become: yes
  become_user: root
  tags: [setup, binaries]



