apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: https://{{ ansible_host }}:{{ prometheus_port }}
    isDefault: true
    jsonData:
      tlsAuth: true
      tlsAuthWithCACert: true
      tlsSkipVerify: false
    secureJsonData:
      tlsCACert: |
        {{ lookup('file', '/opt/monitoring/certs/ca_chain.crt') | b64encode }}
      tlsClientCert: |
        {{ lookup('file', '/opt/monitoring/certs/server_bundle.pem') | b64encode }}
      tlsClientKey: |
        {{ lookup('file', '/opt/monitoring/certs/server_bundle.pem') | b64encode }}
