# Environment файл для Prometheus
# Соответствует подходу из deploy_monitoring.sh

PROMETHEUS_OPTS="--config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/var/lib/prometheus/data --web.console.templates=/etc/prometheus/consoles --web.console.libraries=/etc/prometheus/console_libraries --web.config.file=/etc/prometheus/web-config.yml --web.external-url=https://{{ ansible_host }}:{{ prometheus_port }}/ --web.listen-address=0.0.0.0:{{ prometheus_port }}"
