---
# Role: grafana
# Описание: Установка и настройка Grafana
# Файл: roles/grafana/tasks/main.yml

- name: "Grafana | Создание директорий для данных"
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ monitoring_service_user }}"
    group: "{{ monitoring_group }}"
    mode: "{{ directory_permissions.data }}"
  loop:
    - "{{ monitoring_dirs.data }}/grafana"
  become: yes
  become_user: root
  tags: [setup]

- name: "Grafana | Создание директории provisioning"
  file:
    path: "{{ monitoring_base_dir }}/grafana/provisioning/{{ item }}"
    state: directory
    owner: "{{ monitoring_ci_user }}"
    group: "{{ monitoring_group }}"
    mode: "0755"
  loop:
    - datasources
    - dashboards
  become: yes
  become_user: root
  tags: [setup]

- name: "Grafana | Копирование конфигурации grafana.ini"
  template:
    src: grafana.ini.j2
    dest: "{{ monitoring_dirs.config }}/grafana.ini"
    owner: "{{ monitoring_ci_user }}"
    group: "{{ monitoring_group }}"
    mode: "{{ file_permissions.config }}"
  become: yes
  become_user: root
  notify: restart grafana
  tags: [config]

- name: "Grafana | Копирование datasource provisioning"
  copy:
    src: provisioning/datasources/
    dest: "{{ monitoring_base_dir }}/grafana/provisioning/datasources/"
    owner: "{{ monitoring_ci_user }}"
    group: "{{ monitoring_group }}"
    mode: "0644"
  become: yes
  become_user: root
  notify: restart grafana
  tags: [config, provisioning]

- name: "Grafana | Копирование systemd unit"
  copy:
    src: "{{ playbook_dir }}/../../systemd/grafana.service"
    dest: "{{ systemd_user_dir }}/grafana.service"
    owner: "{{ monitoring_service_user }}"
    group: "{{ monitoring_group }}"
    mode: "0644"
  become: yes
  become_user: "{{ monitoring_service_user }}"
  notify: reload systemd user
  tags: [systemd]

- name: "Grafana | Перезагрузка systemd daemon"
  systemd:
    daemon_reload: yes
    scope: user
  become: yes
  become_user: "{{ monitoring_service_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ lookup('pipe', 'id -u ' + monitoring_service_user) }}"
  tags: [systemd]

- name: "Grafana | Включение сервиса"
  systemd:
    name: grafana
    enabled: yes
    scope: user
  become: yes
  become_user: "{{ monitoring_service_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ lookup('pipe', 'id -u ' + monitoring_service_user) }}"
  tags: [service]

- name: "Grafana | Запуск сервиса"
  systemd:
    name: grafana
    state: started
    scope: user
  become: yes
  become_user: "{{ monitoring_service_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ lookup('pipe', 'id -u ' + monitoring_service_user) }}"
  when: deployment.restart_services | default(true)
  tags: [service]

