---
# Role: harvest
# Описание: Установка и настройка NetApp Harvest
# Файл: roles/harvest/tasks/main.yml

- name: "Harvest | Создание директорий для данных"
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ monitoring_service_user }}"
    group: "{{ monitoring_group }}"
    mode: "{{ directory_permissions.data }}"
  loop:
    - "{{ monitoring_dirs.data }}/harvest"
  become: yes
  become_user: root
  tags: [setup]

- name: "Harvest | Копирование конфигурации harvest.yml"
  template:
    src: harvest.yml.j2
    dest: "{{ monitoring_dirs.config }}/harvest.yml"
    owner: "{{ monitoring_ci_user }}"
    group: "{{ monitoring_group }}"
    mode: "{{ file_permissions.config }}"
  become: yes
  become_user: root
  notify: restart harvest
  tags: [config]

- name: "Harvest | Развертывание systemd unit из template"
  template:
    src: harvest.service.j2
    dest: "{{ systemd_user_dir }}/harvest.service"
    owner: "{{ monitoring_service_user }}"
    group: "{{ monitoring_group }}"
    mode: "0644"
  become: yes
  become_user: "{{ monitoring_service_user }}"
  notify: reload systemd user
  tags: [systemd]

- name: "Harvest | Перезагрузка systemd daemon"
  systemd:
    daemon_reload: yes
    scope: user
  become: yes
  become_user: "{{ monitoring_service_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ monitoring_service_user_uid }}"
  tags: [systemd]

- name: "Harvest | Включение сервиса"
  systemd:
    name: harvest
    enabled: yes
    scope: user
  become: yes
  become_user: "{{ monitoring_service_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ monitoring_service_user_uid }}"
  tags: [service]

- name: "Harvest | Запуск сервиса"
  systemd:
    name: harvest
    state: started
    scope: user
  become: yes
  become_user: "{{ monitoring_service_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ monitoring_service_user_uid }}"
  when: deployment.restart_services | default(true)
  tags: [service]


