---
# Обработчики для роли rlm_standard_setup

- name: reload prometheus
  systemd:
    name: prometheus
    state: reloaded
    daemon_reload: yes
  become: yes
  become_user: root

- name: restart prometheus
  systemd:
    name: prometheus
    state: restarted
    daemon_reload: yes
  become: yes
  become_user: root

- name: restart grafana-server
  systemd:
    name: grafana-server
    state: restarted
    daemon_reload: yes
  become: yes
  become_user: root

- name: restart harvest
  systemd:
    name: harvest
    state: restarted
    daemon_reload: yes
  become: yes
  become_user: root

- name: reload systemd
  systemd:
    daemon_reload: yes
  become: yes
  become_user: root
