---
# Role: grafana
# Описание: Handlers для Grafana
# Файл: roles/grafana/handlers/main.yml

- name: reload systemd user
  systemd:
    daemon_reload: yes
    scope: user
  become: yes
  become_user: "{{ monitoring_service_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ lookup('pipe', 'id -u ' + monitoring_service_user) }}"

- name: restart grafana
  systemd:
    name: grafana
    state: restarted
    scope: user
  become: yes
  become_user: "{{ monitoring_service_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ lookup('pipe', 'id -u ' + monitoring_service_user) }}"

